@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.cart {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: $color-bg;
    padding: 30px;

    &__label {
        color: $color-text-secondary;
        font-size: $font-200;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}