@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.films {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    grid-auto-rows: minmax(280px, 300px);
    grid-gap: 30px;
    padding: 30px;
    scrollbar-width: thin;
    will-change: transform;

    @include breakpoint-down(lg) {
        grid-template-columns: 1fr;
    }
}