@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.film {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: $color-bg;
    position: relative;
    opacity: 1;
    top: 20px;
    
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 0;
        opacity: 1;
        background-color: rgba($color-accent, 0);
        transition: all 0.2s ease-in-out;
    }
    
    &:hover {
        &::after {
            height: 70%;
            background-color: rgba($color-accent, 1);
        }
    }

    &__poster {
        width: 100%;
        height: 100%;
        max-width: 200px;
        object-fit: cover;
    }

    &__details {
        flex: 1;
        padding: 30px;
    }

    &__title {
        color: #fff;
        font-weight: 600;
        font-size: $font-500;
        margin-bottom: 8px;
    }

    &__description {
        color: $color-text-secondary;
        line-height: 1.3;
        font-size: $font-200;
        max-height: 50px;
        overflow: hidden;
    }

    &__additional {
        display: flex;
        align-items: center;
        margin: 28px 0;
        color: $color-text-secondary;
    }
    
    &__duration {
        color: $color-text-primary;
        font-weight: 600;
        margin-right: 16px;
    }

    &__duration, &__director {
        position: relative;
        padding-left: 16px;
        font-size: $font-200;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: rgba($color-text-secondary, .5);
        }
    }

    &__hours {
        &__label {
            color: $color-text-primary;
            font-weight: 600;
            padding-bottom: 8px;
            border-bottom: 1px solid $color-neutral-100;
            margin-bottom: 8px;
        }

        &__time {
            display: inline-flex;
            padding: 8px 16px;
            border-radius: 4px;
            color: $color-text-secondary;
            background-color: $color-bg-light;
            margin: 0 8px 8px 0;
            font-size: $font-200;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: lighten($color-bg-light, 5%);
            }
        }
    }
}