@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.card {
    margin-top: 16px;
    min-height: 400px;
    opacity: 0;

    &__placeholder {
        min-height: 160px;
        min-width: 100%;
        position: relative;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__number {
        position: absolute;
        top: 60px;
        left: 16px;
        right: 16px;
        padding: 8px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 4px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__label {
        color: $color-text-secondary;
        margin-bottom: 4px;
    }

    &__value {
        font-size: 1rem;
        height: 16px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__owner {
        position: absolute;
        left: 16px;
        bottom: 16px;
        padding: 8px;
        border-radius: 4px;
        max-width: 140px;
        color: #fff;
        font-weight: 600;
        font-size: $font-200;
    }

    &__expire {
        position: absolute;
        right: 16px;
        bottom: 16px;
        padding: 8px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
        font-size: $font-200;
        max-width: 92px;
        box-sizing: border-box;
    }

    &__highlight {
        border: 2px solid #FFAB33;
        height: 28px;
        width: 240px;
        border-radius: 4px;
        position: absolute;
        left: 16px;
        top: 60px;
        transition: all 0.4s ease-in-out;
    }

    &__group {
        margin: 16px 0;
        display: flex;
        flex-direction: column;

        label {
            color: $color-text-secondary;
            margin-bottom: 8px;
        }

        input {
            background-color: transparent;
            border: 1px solid $color-neutral-100;
            border-radius: 4px;
            height: 40px;
            font-size: 1rem;
            color: #fff;
            font-weight: 600;
            padding: 0 16px;
            box-sizing: border-box;

            &:focus {
                border: 2px solid $color-accent;
            }
        }
    }
}