@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins"; 

.room {
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
    &__wrapper {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
    }

    &__screen {
        max-width: 650px;
        margin-bottom: 24px;
    }

    &__seats {
        display: grid;
        grid-template-columns: repeat(22, minmax(30px, 1fr));
        grid-auto-rows: 10;
        grid-gap: 16px;
        width: 100%;
        max-width: 1000px;
    }

    &__seat {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #46475E;

        &:hover {
            .icon-seat {
                color: #B1B4F2;
            }
        }

        .icon-seat {
            font-size: 2rem;
            cursor: pointer;
            transition: color 0.2s ease-in-out;
        }

        &--selected {
            color: #B1B4F2;
        }
    }

    &__legend {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-bg;
        padding: 16px 32px;
        color: $color-text-primary;
        margin-top: 32px;
        border-radius: 8px;

        &__item {
            display: flex;
            align-items: center;

            &:nth-child(2) {
                margin: 0 24px;
            }

            .icon-seat {
                margin-right: 8px;
                color: #46475E;
                font-size: 1.5rem;
            }

            &--reservation {
                .icon-seat {
                    opacity: 0.3;
                }
            }

            &--selection {
                .icon-seat {
                    color: #B1B4F2;
                }
            }
        }
    }
}